@import '../../style/mixins.scss';

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1fr));
  grid-gap: 20px;
  justify-content: center;
  margin-bottom: 50px;
}

@include onTablet {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include onDesktop {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
